:root {
    --mainColor: #E80404;
    --secondColor: #04E8E8;
    --threeColor: #7604E8;
    --fourColor: #76E804;
    --fiveColor: #FFF;

}

body {
    background-color: var(--secondColor);
    font-family:cursive;
    color: var(--fiveColor);
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-track {
    background-color: var(--fiveColor);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--threeColor);
}

.cover {
    display: flex;
    justify-content: center;
    margin: 10px 400px;
    width: 779px;
    height: 721px;
}

#circle {
    width: 100px;
    height: 100px;
    background: #ff0000;
    border-radius: 50%
}

.cover div {
    background-color: var(--threeColor);
    border: 2px solid #fff;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
}

.indice {

    background-color: var(--threeColor);
    border: 2px solid #fff;
    border-radius: 6px;
    margin: 30px;
    padding: 10px;
}

.indice h1 {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.parcialOne, .parcialTwo, .parcialEnd {
    border: 2px solid var(--fiveColor);
    border-radius: 6px;
    margin: 30px;
    padding: 20px;
}

.parcialOne {
    background-color: var(--fourColor);
}

.parcialTwo {
    border: 2px solid var(--fiveColor);
}

.parcialEnd {
    background-color: var(--mainColor);
}
.works p {
    font-size: 14pt;
}

#tarea3 img{
    border-radius: 6px;
    height: 320px;
}

#work img {
    width: 690px;
    height: 330px;
}
